.counter {
  display: flex;
  margin-bottom: 10px;
}

.setCounter-button {
  padding: 0 8px;
  font-size: 24px;
  line-height: 1em;
  cursor: pointer;
  background-color:cadetblue;
  border-radius: 2px;
  color: white;
  user-select: none;
  transition: background-color 100ms ease-in;
}

.setCounter-button:hover {
  background-color: teal;
}

.setCounter-button:active {
  background-color: slategray;
}


.count {
  text-align: center;
  min-width: 65px;
  padding: 0 15px;
  line-height: 1.5em;
  font-weight: bold;
}