.counter {
  margin-top: 10px;
  display: flex;
  
}
.setCounter-button {
  width: 40px;
  height: 25px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(145deg, #223aff, #9e00b3);
  box-shadow: 1px 2px 2px 0 rgb(51 13 67);
  padding-left: 15px;
}
.setCounter-button:hover {
  background: linear-gradient(145deg, #1c31d5, #8c009f);
  box-shadow: 2px 3px 3px 0 #2c2c2c;
}
.count {
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}