.counter {
  display: flex;
  margin-bottom: 10px;
}

.setCounter-button {
  font-size: 24px;
  cursor: pointer;
  background-color: var(--defaultButton);
  border-radius: 2px;
  color: white;
  user-select: none;
  transition: background-color 100ms ease-in;
  border: none;
  width: 32px;
  height: 32px;
}

.setCounter-button:first-child{
  padding-bottom: 3px;
}

.setCounter-button:hover {
  background-color: var(--defaultButtonHover);
}

.setCounter-button:active {
  background-color: var(--buttonActive);
}

.count {
  text-align: center;
  min-width: 65px;
  padding: 0 15px;
  line-height: 1.5em;
  font-weight: bold;
}