
.add-button {
  font-family: 'Poiret One';
  font-size: 24px;
  position: relative;
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  color: var(--defaultButtonHover);
  text-shadow: 0px 0px 1px #223aff;
  transition: background-color 150ms ease-in, color 150ms ease-in;
}

.add-button * {
  vertical-align: middle;
}

.add-button:hover {
  background-color: var(--defaultButton);
  color: white;
}
