.choices__inner {
  padding: 0 !important; 
  min-height: min-content;
}

.choices__list {
  padding: 0 !important;
}

.choices__list [class*="item"] {
  padding: 5px 10px !important;
  min-width: min-content !important;
}