/* Страница*/
.Layout {
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(145deg, #223aff, #9e00b3);
}

.Layout__head {
  display: flex;
  padding: 25px 25px;
  justify-content: space-between;
  background: #f5f5f5;
}

.add_item_button {
  display: flex;
  justify-content: center;
  align-items: center;
}


.title {
  display: inline-block;
  padding: 0;
}